<div id="wrapper">
    <app-header></app-header>
    <app-sidebar></app-sidebar>
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <h4 class="page-title float-left">View My Match</h4>

                            <ol class="breadcrumb float-right">
                                <li class="breadcrumb-item active">Sbiz Human Resource</li>
                            </ol>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <!-- end row -->
                
                <div class="card m-b-20 text-white bg-info text-xs-center">
                    <div class="card-body">
                        <blockquote class="card-bodyquote">
                            <p>Hello William, you have been matched with <strong>Marry Parker</strong>.</p>
                            <footer>Thank you for using this matching application.
                            </footer>
                        </blockquote>
                    </div>
                </div>
            </div> <!-- container -->

        </div> <!-- content -->

        <footer class="footer text-right">
            Sbiz Human Resource
        </footer>

    </div>
</div>