<div id="wrapper">
    <app-header></app-header>
    <app-sidebar></app-sidebar>
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <h4 class="page-title float-left">How to Use This App</h4>

                            <ol class="breadcrumb float-right">
                                <li class="breadcrumb-item active">Sbiz Human Resource</li>
                            </ol>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <!-- end row -->


                <div class="row">
                    <div class="col-md-12">

                        <div class="card">
                            <div class="card-body">
                                <h4 class="m-t-0 header-title m-b-30">Display headings</h4>
                                <p>Suspendisse vel quam malesuada, aliquet sem sit
                                    amet, fringilla elit. Morbi
                                    tempor tincidunt tempor. Etiam id turpis viverra, vulputate sapien
                                    nec,
                                    varius sem. Curabitur ullamcorper fringilla eleifend. In ut eros
                                    hendrerit
                                    est consequat posuere et at velit.</p>
                                <p>In nec rhoncus eros. Vestibulum eu mattis nisl.
                                    Quisque viverra viverra magna
                                    nec pulvinar. Maecenas pellentesque porta augue, consectetur
                                    facilisis diam
                                    porttitor sed. Suspendisse tempor est sodales augue rutrum
                                    tincidunt.
                                    Quisque a malesuada purus.</p>
                                <p>Vestibulum auctor tincidunt semper. Phasellus ut
                                    vulputate lacus. Suspendisse
                                    ultricies mi eros, sit amet tempor nulla varius sed. Proin nisl
                                    nisi,
                                    feugiat quis bibendum vitae, dapibus in tellus.</p>

                                <div class="clearfix"></div>

                            </div>
                        </div>

                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h4 class="m-t-0 header-title mb-4">Unordered</h4>

                                        <ul class="mb-0">
                                            <li>
                                                Lorem ipsum dolor sit amet
                                            </li>
                                            <li>
                                                Consectetur adipiscing elit
                                            </li>
                                            <li>
                                                Integer molestie lorem at massa
                                            </li>
                                            <li>
                                                Facilisis in pretium nisl aliquet
                                            </li>
                                            <li>
                                                Nulla volutpat aliquam velit
                                                <ul>
                                                    <li>
                                                        Phasellus iaculis neque
                                                    </li>
                                                    <li>
                                                        Purus sodales ultricies
                                                    </li>
                                                    <li>
                                                        Vestibulum laoreet porttitor sem
                                                    </li>
                                                    <li>
                                                        Ac tristique libero volutpat at
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                Faucibus porta lacus fringilla vel
                                            </li>
                                            <li>
                                                Aenean sit amet erat nunc
                                            </li>
                                            <li>
                                                Eget porttitor lorem
                                            </li>
                                        </ul>

                                    </div>

                                    <div class="col-sm-6">
                                        <h4 class="m-t-0 header-title mb-4">Ordered</h4>

                                        <ol class="mb-0">
                                            <li>
                                                Lorem ipsum dolor sit amet
                                            </li>
                                            <li>
                                                Consectetur adipiscing elit
                                            </li>
                                            <li>
                                                Integer molestie lorem at massa
                                            </li>
                                            <li>
                                                Facilisis in pretium nisl aliquet
                                            </li>
                                            <li>
                                                Nulla volutpat aliquam velit
                                                <ol>
                                                    <li>
                                                        Phasellus iaculis neque
                                                    </li>
                                                    <li>
                                                        Purus sodales ultricies
                                                    </li>
                                                    <li>
                                                        Vestibulum laoreet porttitor sem
                                                    </li>
                                                    <li>
                                                        Ac tristique libero volutpat at
                                                    </li>
                                                </ol>
                                            </li>
                                            <li>
                                                Faucibus porta lacus fringilla vel
                                            </li>
                                            <li>
                                                Aenean sit amet erat nunc
                                            </li>
                                            <li>
                                                Eget porttitor lorem
                                            </li>
                                        </ol>
                                    </div>

                                </div>
                                <!-- end row -->
                            </div>
                        </div>

                    </div>

                </div>
                <!-- end row -->



            </div> <!-- container -->

        </div> <!-- content -->

        <footer class="footer text-right">
            Sbiz Human Resource
        </footer>

    </div>
</div>