
<div id="wrapper">
    <app-header></app-header>
    <app-sidebar></app-sidebar>
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <h4 class="page-title float-left">Rankings</h4>

                            <ol class="breadcrumb float-right">
                                <li class="breadcrumb-item active">Sbiz Human Resource</li>
                            </ol>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <!-- end row -->
                
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="m-t-0 header-title mb-4">Please Enter Rankings</h4>

                                <table class="table table-striped mb-0">
                                    <thead>
                                        <tr>
                                            <th>Manager's Name</th>
                                            <th>Manager's SOEID</th>
                                            <th>Ranking</th>
                                        </tr>   
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">Joyce West</th>
                                            <td>JW122345</td>
                                            <td>
                                                <select class="form-control">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">James Scott</th>
                                            <td>JS09876</td>
                                            <td>
                                                <select class="form-control">
                                                    <option>2</option>
                                                    <option>1</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Jordan Parker</th>
                                            <td>JP23456</td>
                                            <td>
                                                <select class="form-control">
                                                    <option>3</option>
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                    <option>6</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Amy Stewart</th>
                                            <td>AS34567</td>
                                            <td>
                                                <select class="form-control">
                                                    <option>4</option>
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>5</option>
                                                    <option>6</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Doris Murphy</th>
                                            <td>DM67890</td>
                                            <td>
                                                <select class="form-control">
                                                    <option>5</option>
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>6</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Phillip Shaw</th>
                                            <td>PS54321</td>
                                            <td>
                                                <select class="form-control">
                                                    <option>6</option>
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="form-group row mb-12">
                                    <div class="col-8 offset-5">
                                        <button type="submit" class="btn btn-primary waves-effect waves-light">
                                            Submit
                                        </button>
                                        <button type="reset" class="btn btn-secondary waves-effect m-l-5">
                                            Cancel
                                        </button>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    

                </div>

            </div> <!-- container -->

        </div> <!-- content -->

        <footer class="footer text-right">
            Sbiz Human Resource
        </footer>

    </div>
</div>