<div id="wrapper">
    <app-header></app-header>
    <app-sidebar></app-sidebar>

    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <h4 class="page-title float-left">Administration Dashboard</h4>

                            <ol class="breadcrumb float-right">
                                <li class="breadcrumb-item active">Sbiz Human Resource</li>
                            </ol>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <!-- end row -->

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body table-responsive">
                                <h4 class="m-t-0 header-title mb-4"><b>Managers' Rankings</b></h4>

                                <table id="datatable-buttons" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Manager's Name</th>
                                            <th>Analyst 1</th>
                                            <th>Analyst 2</th>
                                            <th>Analyst 3</th>
                                            <th>Analyst 4</th>
                                            <th>Analyst 5</th>
                                            <th>Analyst 6</th>
                                            <th>Analyst 7</th>
                                            <th>Analyst 8</th>
                                            <th>Analyst 9</th>
                                            <th>Analyst 10</th>
                                            <th>Analyst 11</th>
                                            <th>Analyst 12</th>
                                        </tr>
                                    </thead>


                                    <tbody>
                                        <tr>
                                            <td>Mary Estrada</td>
                                            <td>Arthur Schultz</td>
                                            <td>Jason Barnes</td>
                                            <td>Andrew Parker</td>
                                            <td>Albert Einstein</td>
                                            <td>Tiffany Chen</td>
                                            <td>Laura Parker</td>
                                            <td>Olivia Price</td>
                                            <td>Jason Day</td>
                                            <td>Emily Green</td>
                                            <td>Rebecca Cole</td>
                                            <td>Patrick Ward</td>
                                            <td>Andrew Lane</td>
                                        </tr>
                                        <tr>
                                            <td>Cheryl McCoy</td>
                                            <td>Helen Morris</td>
                                            <td>Andrew Parker</td>
                                            <td>Henry West</td>
                                            <td>Megan Moreno</td>
                                            <td>Laura Parker</td>
                                            <td>Rose Cox</td>
                                            <td>Olivia Price</td>
                                            <td>Jason Day</td>
                                            <td>Emily Green</td>
                                            <td>Rebecca Cole</td>
                                            <td>Patrick Ward</td>
                                            <td>Andrew Lane</td>
                                        </tr>
                                        <tr>
                                            <td>Ashton Cox</td>
                                            <td>Henry West</td>
                                            <td>Helen Morris</td>
                                            <td>Karen Reid</td>
                                            <td>Megan Moreno</td>
                                            <td>Nemo Nobody</td>
                                            <td>Rose Cox</td>
                                            <td>Olivia Price</td>
                                            <td>Jason Day</td>
                                            <td>Albert Einstein</td>
                                            <td>Rebecca Cole</td>
                                            <td>Patrick Ward</td>
                                            <td>Andrew Lane</td>
                                        </tr>
                                        <tr>
                                            <td>Cedric Kelly</td>
                                            <td>Karen Reid</td>
                                            <td>Edinburgh</td>
                                            <td>Megan Moreno</td>
                                            <td>Andrew Parker</td>
                                            <td>Austin Russell</td>
                                            <td>Rose Cox</td>
                                            <td>Olivia Price</td>
                                            <td>Jason Day</td>
                                            <td>Emily Green</td>
                                            <td>Albert Einstein</td>
                                            <td>Patrick Ward</td>
                                            <td>Andrew Lane</td>
                                        </tr>
                                        <tr>
                                            <td>Airi Satou</td>
                                            <td>Henry West</td>
                                            <td>Isaac Newton</td>
                                            <td>Nemo Nobody</td>
                                            <td>Austin Russell</td>
                                            <td>Karen Reid</td>
                                            <td>Rose Cox</td>
                                            <td>Rebecca Cole</td>
                                            <td>Patrick Ward</td>
                                            <td>Albert Einstein</td>
                                            <td>Megan Moreno</td>
                                            <td>Austin Russell</td>
                                            <td>Rose Cox</td>
                                        </tr>
                                        <tr>
                                            <td>Thomas Beck</td>
                                            <td>Karen Reid</td>
                                            <td>Henry West</td>
                                            <td>Karen Reid</td>
                                            <td>Olivia Price</td>
                                            <td>Jason Day</td>
                                            <td>Emily Green</td>
                                            <td>Rebecca Cole</td>
                                            <td>Patrick Ward</td>
                                            <td>Andrew Lane</td>
                                            <td>Albert Einstein</td>
                                            <td>Austin Russell</td>
                                            <td>Rose Cox</td>
                                        </tr>
                                        <tr>
                                            <td>Jessica Snyder</td>
                                            <td>Hello World</td>
                                            <td>Austin Russell</td>
                                            <td>Karen Reid</td>
                                            <td>Nemo Nobody</td>
                                            <td>Olivia Price</td>
                                            <td>Jason Day</td>
                                            <td>Emily Green</td>
                                            <td>Rebecca Cole</td>
                                            <td>Patrick Ward</td>
                                            <td>Andrew Lane</td>
                                            <td>Someone Name</td>
                                            <td>Rose Cox</td>
                                        </tr>
                                        <tr>
                                            <td>Mark Allen</td>
                                            <td>Henry West</td>
                                            <td>Lorem Sum</td>
                                            <td>Olivia Price</td>
                                            <td>Jason Day</td>
                                            <td>Emily Green</td>
                                            <td>Rebecca Cole</td>
                                            <td>Patrick Ward</td>
                                            <td>Andrew Lane</td>
                                            <td>Someone Name</td>
                                            <td>Karen Reid</td>
                                            <td>Nemo Nobody</td>
                                            <td>Rose Cox</td>
                                        </tr>
                                        <tr>
                                            <td>Colleen Hurst</td>
                                            <td>Henry West</td>
                                            <td>Hello World</td>
                                            <td>Karen Reid</td>
                                            <td>Nemo Nobody</td>
                                            <td>Olivia Price</td>
                                            <td>Jason Day</td>
                                            <td>Emily Green</td>
                                            <td>Albert Einstein</td>
                                            <td>Patrick Ward</td>
                                            <td>Andrew Lane</td>
                                            <td>Loren Ipsum</td>
                                            <td>Rose Cox</td>
                                        </tr>
                                        <tr>
                                            <td>Sonya Frost</td>
                                            <td>Karen Reid</td>
                                            <td>Isaac Newton</td>
                                            <td>Loren Ipsem</td>
                                            <td>Albert Einstein</td>
                                            <td>Isaac Newton</td>
                                            <td>Olivia Price</td>
                                            <td>Jason Day</td>
                                            <td>Emily Green</td>
                                            <td>Rebecca Cole</td>
                                            <td>Patrick Ward</td>
                                            <td>Andrew Lane</td>
                                            <td>Rose Cox</td>
                                        </tr>
                                        <tr>
                                            <td>Jena Gaines</td>
                                            <td>Hello World</td>
                                            <td>Loren Sum</td>
                                            <td>Isaac Newton</td>
                                            <td>Olivia Price</td>
                                            <td>Jason Day</td>
                                            <td>Emily Green</td>
                                            <td>Rebecca Cole</td>
                                            <td>Patrick Ward</td>
                                            <td>Andrew Lane</td>
                                            <td>Karen Reid</td>
                                            <td>Albert Einstein</td>
                                            <td>Rose Cox</td>
                                        </tr>
                                        <tr>
                                            <td>Quinn Flynn</td>
                                            <td>Hello World</td>
                                            <td>Olivia Price</td>
                                            <td>Jason Day</td>
                                            <td>Rebecca Cole</td>
                                            <td>Patrick Ward</td>
                                            <td>Andrew Lane</td>
                                            <td>Thisis Name </td>
                                            <td>Emily Green</td>
                                            <td>Bill Gates</td>
                                            <td>Isaac Newton</td>
                                            <td>ALbert Einstein</td>
                                            <td>Karen Reid</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->


            </div> <!-- container -->

        </div> <!-- content -->

        <footer class="footer text-right">
            Sbiz Human Resource
        </footer>

    </div>
</div>