<div id="wrapper">
    <app-header></app-header>
    <app-sidebar></app-sidebar>

    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <h4 class="page-title float-left">Administration Dashboard</h4>

                            <ol class="breadcrumb float-right">
                                <li class="breadcrumb-item active">Sbiz Human Resource</li>
                            </ol>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <!-- end row -->

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body table-responsive">
                                <h4 class="m-t-0 header-title mb-4"><b>Matching Results</b></h4>

                                <table id="datatable-buttons" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Analyst's Name</th>
                                            <th>Analyst's SOEID</th>
                                            <th>Manager's Name</th>
                                            <th>Manager's SOEID</th>
                                        </tr>
                                    </thead>


                                    <tbody>
                                        <tr>
                                            <td>Mary Estrada</td>
                                            <td>ME93720</td>
                                            <td>Jason Barnes</td>
                                            <td>JB98776</td>
                                        </tr>
                                        <tr>
                                            <td>Helen Morris</td>
                                            <td>HM22345</td>
                                            <td>Henry West</td>
                                            <td>HW98392</td>
                                        </tr>
                                        <tr>
                                            <td>Ashton Reid</td>
                                            <td>AR03832</td>
                                            <td>Karen Reid</td>
                                            <td>KE89202</td>
                                        </tr>
                                        <tr>
                                            <td>Cedric Kelly</td>
                                            <td>CK88821</td>
                                            <td>Andrew Parker</td>
                                            <td>AP99991</td>
                                        </tr>
                                        <tr>
                                            <td>Stephen Hawking</td>
                                            <td>SH01010</td>
                                            <td>Isaac Newton</td>
                                            <td>IS10101</td>
                                        </tr>
                                        <tr>
                                            <td>Thomas Beck</td>
                                            <td>TB29012</td>
                                            <td>Olivia Price</td>
                                            <td>OP02093</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->


            </div> <!-- container -->

        </div> <!-- content -->

        <footer class="footer text-right">
            Sbiz Human Resource
        </footer>

    </div>
</div>