<div id="wrapper">
        <app-header></app-header>
        <app-sidebar></app-sidebar>
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <h4 class="page-title float-left">Administration Dashboard</h4>

                            <ol class="breadcrumb float-right">
                                <li class="breadcrumb-item active">Sbiz Human Resource</li>
                            </ol>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <!-- end row -->

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body table-responsive">
                                <h4 class="m-t-0 header-title mb-4"><b>Analysts' Rankings</b></h4>

                                <table id="datatable-buttons" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Analyst's Name</th>
                                            <th>Manager 1</th>
                                            <th>Manager 2</th>
                                            <th>Manager 3</th>
                                            <th>Manager 4</th>
                                            <th>Manager 5</th>
                                            <th>Manager 6</th>
                                        </tr>
                                    </thead>


                                    <tbody>
                                        <tr>
                                            <td>Mary Estrada</td>
                                            <td>Arthur Schultz</td>
                                            <td>Jason Barnes</td>
                                            <td>Andrew Parker</td>
                                            <td>Albert Einstein</td>
                                            <td>Tiffany Chen</td>
                                            <td>Laura Parker</td>
                                        </tr>
                                        <tr>
                                            <td>Cheryl McCoy</td>
                                            <td>Helen Morris</td>
                                            <td>Andrew Parker</td>
                                            <td>Henry West</td>
                                            <td>Megan Moreno</td>
                                            <td>Laura Parker</td>
                                            <td>Rose Cox</td>
                                        </tr>
                                        <tr>
                                            <td>Ashton Cox</td>
                                            <td>Henry West</td>
                                            <td>Helen Morris</td>
                                            <td>Karen Reid</td>
                                            <td>Megan Moreno</td>
                                            <td>Nemo Nobody</td>
                                            <td>Rose Cox</td>
                                        </tr>
                                        <tr>
                                            <td>Cedric Kelly</td>
                                            <td>Karen Reid</td>
                                            <td>Edinburgh</td>
                                            <td>Megan Moreno</td>
                                            <td>Andrew Parker</td>
                                            <td>Austin Russell</td>
                                            <td>Olivia Price</td>
                                        </tr>
                                        <tr>
                                            <td>Stephen Hawking</td>
                                            <td>Henry West</td>
                                            <td>Isaac Newton</td>
                                            <td>Nemo Nobody</td>
                                            <td>Austin Russell</td>
                                            <td>Megan Moreno</td>
                                            <td>Austin Russell</td>
                                        </tr>
                                        <tr>
                                            <td>Thomas Beck</td>
                                            <td>Karen Reid</td>
                                            <td>Karen Reid</td>
                                            <td>Olivia Price</td>
                                            <td>Jason Day</td>
                                            <td>Austin Russell</td>
                                            <td>Rose Cox</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->


            </div> <!-- container -->

        </div> <!-- content -->

        <footer class="footer text-right">
            Sbiz Human Resource
        </footer>

    </div>
</div>